<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>

  </head>
  <body onload="myLoader()">
    <%- include('../partials/preloader.ejs'); %>

    <%- include('../partials/nav.ejs'); %>
  



    <div class="container my-5">
        <div class="row">
            <div class="col-12 col-md-12 alert alert-info">
            <h4 class=" border-2 p-2 text-white text-center alert alert-danger bg-danger">Member Registration - MathHub Learning Management System</h4>
            
            <div class="d-flex align-items-center justify-content-center my-5">

              <div class="card shadow border-0 " style="width: 490px;" >
                <div class="card-header bg-primary">
                  <div class="card-title fs-4 text-white">
                    <i class="bi bi-person-plus-fill"></i>  New User  Registration
                  </div>
                </div>
                <div class="card-body">
                  <form method="post" name="regform" onsubmit="return validateform()">

                    <div class="mb-3 px-2">
                      <div class="row g-3">
                        <div class="col-md-6 ">
                          <label for="fname" class="form-label"><i class="bi bi-person-circle"></i> First Name</label>
                          <input type="text" id="fname" name="fname" class="form-control" placeholder="First name" aria-label="First name" minlength="3" required>
                        </div>
                        <div class="col-md-6">
                          <label for="lname" class="form-label"> <i class="bi bi-person-circle"></i> Last Name</label>
                          <input type="text" id="lname" name="lname" class="form-control" placeholder="Last name" aria-label="Last name" minlength="2" required >
                        </div>
                      </div>
                    </div>

                    <div class="mb-3 px-2">
                      <label for="uemail" class="form-label"> <i class="bi bi-envelope-fill"></i> Email address</label>
                      <input type="email" class="form-control" placeholder="abc@gmail.com" id="uemail" name="uemail" aria-describedby="emailHelp" minlength="15" required>
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3 px-2">
                      <label for="pwd" class="form-label">  <i class="bi bi-lock-fill"></i>  Password</label>
                      <input type="password" class="form-control" id="pwd" minlength="6" name="pwd" aria-describedby="pwdHelp" required>
                      <div id="pwdHelp" class="form-text">Minimum length is 6.</div>

                    </div>
                    <div class="mb-3 px-2">
                      <label for="cpwd" class="form-label">   <i class="bi bi-lock-fill"></i>  Confirm Password</label>
                      <input type="password" class="form-control" id="cpwd" minlength="6" name="cpwd" required>
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="agree" name="agree" required>
                      <label class="form-check-label" for="agree">I agree terms and  condition.</label>
                    </div>
                    <div class="row ">
                      <div class="col-md-6">
                        <a class="btn btn-warning form-control my-1" href="/Registration" type="button"> <i class="bi bi-arrow-clockwise"></i> Reset</a>

                      </div>
                      <div class="col-md-6">
                        <input class="btn btn-success form-control my-1" type="submit" value="Register"/>

                      </div>
                      
                    </div>
                    <div class="d-grid gap-2 col-md-12 my-2 mx-auto">
                      <a href="/Login" class="btn btn-secondary" type="button"><i class="bi bi-person-check-fill"></i> Already a member ? Login Now</a>
                      
                    </div>
                  </form>
                </div>
              </div>

            </div>
            </div>
        </div>
    </div>





    <%- include('../partials/footer.ejs'); %>




    <%- include('../partials/bs.ejs'); %>

  </body>
</html>