<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>

  </head>
  <body onload="myLoader()">
    <%- include('../partials/preloader.ejs'); %>

    <%- include('../partials/nav.ejs'); %>
  



    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-12 alert alert-info mb-5">
            <h3 class="alert alert-danger text-white  text-center bg-danger"> Validate OTP - MathHub Learning Management System</h3>
            
            <div class="d-flex align-items-center justify-content-center my-5">

              <div class="card shadow border-0 " style="width: 420px" >
                <div class="card-header bg-primary">
                  <div class="card-title fs-4 text-white">
                 Validate OTP
                  </div>
                </div>
                <div class="card-body ">
                  <form>
                    <div class="mb-3 px-2">
                      <label for="otp" class="form-label">Enter OTP</label>
                      <input type="number" class="form-control"  id="otp" name="otp" maxlength="6" required >
                      <div id="emailHelp" class="form-text">We'll send you otp in your registered email.</div>
                    </div>
                  
                    
                    <div class="row ">
                     

                      <div class="d-grid gap-2 col-md-12 my-2 mx-auto">
                        <button href="/ForgetPassword" class="btn btn-success" type="submit">Validate OTP</button>
                      
                        
                      </div>
                      
                    </div>
                  </form>
                </div>
              </div>

            </div>
            </div>
        </div>
    </div>





    <%- include('../partials/footer.ejs'); %>


    <%- include('../partials/bs.ejs'); %>

  </body>
</html>